.animal-show {
    position: relative;
    padding: 10px;
    border-radius: .6rem;
    margin: 10px;
    box-shadow: 0 3px 4px #68CA68;
    background-color: #D9F3D8;
}

.animal {
    height: 200px;
}

.heart {
    position: absolute;
    bottom: 15%;
    right: 8%;
}