body {
    background-color: #B3E6B2;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #44BC43;
    color: whitesmoke;
    border-style: none;
    border-radius: .6rem;
    font-size: 1.2rem;
    padding: .6rem;
    width: 20%;
    margin: 20px 0 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    transition: .2s;
}

button:hover {
    cursor: pointer;
    width: 23%;
}

@media (max-width: 791px) {
    button {
        width: 30%;
    }
}

.animal-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}